@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "MontserratL";
    src: url(../Fonts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
    font-family: "Garamond";
    src: url(../Fonts/CormorantInfant-Regular.otf) format('opentype');
}
body{
    margin: 0;
    background-color:rgba(248, 248, 248, 0.566);
}
    ::-webkit-scrollbar {
        width: 10px; /* ширина для вертикального скролла */
        height: 5px; /* высота для горизонтального скролла */
        background: linear-gradient(265.97deg, #88488F -9.18%, #0a1977bb 103.05%);
    }
    
    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background-color: #ffffff;
    
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #8e1469;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #440159;
    }
   
a{ color: black;
    font-family: "Montserrat";
    text-decoration: none;
    -webkit-user-drag: none;
}
#a{
    grid-column-start: 2 ;
}
#linka{
    color:rgba(183, 119, 190, 1);
    letter-spacing: 0;
}
.grid-container{
    opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.grid-container_visible{
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-areas: "A A"/*1*/
                         "B B"/*2*/
                         "C C"/*3 5*/
                         "D D"/*4 7*/
                         "E E"/*5*/
                         "F F" /*6*/
                         "G G"/*7*/
                         "H H"/*8*/
                         "I I"/*9*/
                         "J J"/*10*/
                         "K K";/*11*/

    overflow-x: hidden;
    position: relative;
    opacity: 1;
  
}
.header{
    grid-area: A;
   background-color:white;
    display: grid;
    font-family: "Montserrat";
    font-style: normal;
} 
.banner{
    grid-area: B;
    background-color: rgb(246, 240, 252);
}
.filter{
    grid-area: C D;
}
.Lifetime{
    grid-area: E;
}
.diler{
    grid-area: F;
}
.video{
    grid-area: G;
}
.record{
    grid-area: H;
}
.map{
    grid-area: J;
}
.footer{
    grid-area: K;
}
@media (min-width: 1366px) {
    .mobile {
        display: none;
    }
    .header{
        height: 18vh;
        grid-template-rows: 85% 10%;
        grid-template-columns: 33% 42% 25%;
    } 
       .menu{  
        font-size: 1.5vh;
        letter-spacing: 0.2em;
        display: grid; 
        grid-template-columns: 15% 17% 17% 17% 17% 17%;
        grid-column-start: span 3;

    }
    .region{
        grid-row-start: 1;
        display: grid;
        grid-template-rows: auto;
        letter-spacing: 0.1em;
        width: 25vw;
        grid-template-areas: "city textdiler";
        padding: 4vh 0 0 5vw;
        font-size: 1.2vh;
    }
    #place{
        width: 2.5vw;
        height: 2.5vh;
    }
    #logodiv{
       width: 12vw;
        display: grid;
        grid-row-start: 1;
        grid-template-columns: 33% 33% 33%;
    }
    #logo{
        height: 10vh;
        padding-top: 2vh;
        padding-left: 10vw;
    }    
    
    #city{
        grid-area: city;
        grid-column-start: 1;
        padding-top: 1.3vh;
    }
    .city{display: none;}
    #textdiler{
        padding: 0.3vh 0 0 1vw;
        grid-area: textdiler;
        grid-column-start: 2;
        font-size: 1.5vh;
  }
    #plink{
    font-size: 1.5vh;
    grid-column-start: 1;
    letter-spacing: 0;
    text-align: right;
    margin-top: -2vw;
}
    #linka:hover{
    text-decoration: underline;
    }
    #linka:active{
        font-weight: bold;
        text-decoration: none;
    }
    i{
        font-style: normal;
        font-size: 2vh;
    }
    #social{
        grid-column-start: 2;
        grid-row-start: 1;
        display: grid;
        width:23vw;
        grid-template-columns:10% 10% 10%;
        padding-top: 1vh;
        padding-left: 1vw;
    }
    #telegram{display: grid;
        grid-column-start: 1;
        height: 2.4vh;
        width: 2.4vw;
    }
    #viber{
        display: grid;
        grid-column-end: 3;
        height: 2.4vh;
        width: 2.4vw;
    }
    #whatsapp{
        grid-column-start: 3;
        height: 2.4vh;
        width: 2.4vw;
    }
    #contacts{ 
        grid-column-start: 3;
        grid-row-start: 1;
        display: grid;
       width: 23vw;
        grid-template-columns: 16vw 7vw;
        font-size: 2vh;
        padding-top: 4vh;
        letter-spacing: 0.2em;
        text-align: right;
    }
    .banner
    {   display: grid;
       width: 93vw;
       height: 70vh;
       padding: 7vh;
       font-family: "Garamond";
       grid-template-columns: 55vw 45vw;
    } 
    #glassstone{
        margin: 0;
        padding: 0;
        grid-column-start: 2;
        height: 58vh;
        width: 40vw;  
    }
    #textstone{
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 7.1vh;
        padding: 11vh 0vh 0vh 7vw;
    }
    #diler{
        display: grid;
        grid-column-start: 1;
        margin: 0;
        letter-spacing: 0.1em;
        text-transform:lowercase ;
        font-size: 6vh;
    }
    #description{
        display: grid;
        grid-template-columns: 14vw 14vw 14vw;
        grid-template-rows: 2vh 10vh;
        padding-top: 8vh;
    }
    #line1{ 
        display: grid;
        grid-column-start: 1;
    }
    #line2{
        display: grid;
        grid-column-start: 2;
    }
    #line3{
        display: grid;
        grid-column-start: 3;
    }
    #color{
        font-family: "MontserratL";
        font-size: 2vh;
        letter-spacing: 0;
        text-transform: none;
        font-style: light;
    }
    #garant{   font-family: "MontserratL";
        font-size: 2vh;
        letter-spacing: 0;
        text-transform: none;
        font-style: light;}
    #variant{   font-family: "MontserratL";
        font-size: 2vh;
        letter-spacing: 0;
        text-transform: none;
        font-style: light;}
    #button{
        background: linear-gradient(265.97deg, #c982d1 -9.18%, #88488F 103.05%);
        margin-top:3.5vh;
        display: grid;
        grid-column-start: 1;
        height: 6vh;
        width: 13vw;
        grid-template-columns:11vw 2vw;
        cursor: pointer;
    }
    #arrow{
     grid-column-start: 2;
     padding-top: 2vh;
     height: 2vh;
    }
    #catalog{
        color:white;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-size: 1.3vh;
        padding-top: 2.3vh;
        padding-left: 2vh;
    }
    #button:hover{
        background: linear-gradient(265.97deg,#88488F -9.18%, #c982d1 103.05%);
    }
    #button:active{
        background: #88488F;
    }
    .interior{
        display: grid;
        grid-template-columns: 45vw 55vw;
        height: 70vh;
        padding-top: 10vh;
    }
    #newimage{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15vh 15vh 40vh;
        padding-left: 7vw;
    }
    #newtrand{
        margin: 0;
        font-family:"Garamond";
        font-weight: normal;
        letter-spacing: 0.03em;
        padding-top: 2vh;
        font-size: 4.5vh;
        padding-right: 5vw;
    }
    #home{
        font-family: "MontserratL";
        font-size: 2vh;
        padding-right: 8vw;
    }
    #photo{
        height: 70vh;
        width: 55vw;
    }
    #imginterior{
        height: 15vh;
        width: 12.5vw;
        }
    .filter{
        height: 220vh;
        width: 100vw;
        background-image: url(../Image/filter.png);
        background-size: cover;
    }
    .kinds{
        height: 60vh;
        display: grid;
        grid-template-columns: 27vw 15vw 40vw;
        margin: 10vh 0  0 7vw;
   }
    #kindsalways{
        display: grid;
        width: 27vw;
        grid-template-columns: 5vw 22vw;
        grid-template-rows: 20vh 10vh 10vh 10vh; 
    }
    #kindstext{
        display: grid;
        grid-column-start: span 2;
        font-family:"Garamond";
        font-weight: normal;
        letter-spacing: 0.03em;
        font-size: 4.5vh;
    }
    #textkind{
        font-family: "MontserratL";
        letter-spacing: 0;
        font-size: 2vh;
    }
    #framekinds{
        height: 5vh;
        width: 5vw;
        padding-top: 1.5vh;
    }
    #glass{
        display: grid;
        grid-column-start: 3;
        background-image: url(Image/glass.png);
        background-size: 100% 100%;
    }
    .cards{ 
        margin-top: 20vh;
        display: grid;
        height: 36vh;
        width: 72vw;
        margin-left: 7vw;
        grid-template-columns: 17vw 0.2vw 17vw 0.2vw 17vw 0.2vw 17vw;
    }
    #card1{
        box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
        background-color: white;
        border: 1px solid #F4F4F4;
        display: grid;
        grid-column-start: 1;
        grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
    }
    #card2{
        box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
        background-color: white;
        border: 1px solid #F4F4F4;
        display: grid;
        grid-column-start: 3;
        grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
    }
    #card3{
        box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
        background-color: white;
        border: 1px solid #F4F4F4;
        display: grid;
        grid-column-start: 5;
        grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
    }
    #card4{
        box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
        background-color: white;
        border: 1px solid #F4F4F4;
        display: grid;
        grid-column-start: 7;
        grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 3vh;
    }
    #card1:hover{
        background:#F4F4F4 ;
    }
    #card2:hover{
        background:#F4F4F4 ;
    }
    #card3:hover{
        background:#F4F4F4 ;
    }
    #card4:hover{
        background:#F4F4F4 ;
    }
    #hit{
        padding: 0.5vh 0  0 0.5vw;
        height: 2.5vh;
        width: auto;
    }
    #row2{
        display: grid;
        grid-row-start: 2;
        padding-left: 3.6vw;
        height: 20vh;
        width: 10vw;
    }
    #row3{
        display: grid;
        grid-row-start: 3;
        padding-left: 5.7vw;
        height: 0.2vh;
        width: 6vw;
    }
    #row4{
        margin: 0;
        padding: 0;
        display: grid;
        grid-row-start: 4;
        text-align: center;
        font-family:"Montserrat" ;
        font-size: 2vh;
    }
    #row5{
        margin: 0;
        padding: 0;
        display: grid;
        grid-row-start: 5;
        text-align: center;
        font-family:"Montserrat" ;
        font-size: 1.5vh;
        text-decoration: line-through;
        color: rgb(194, 194, 194);
    }
    #row6{
        margin: 0;
        padding: 0;
        display: grid;
        grid-row-start: 6;
        text-align: center;
        font-family:"Montserrat" ;
        font-size: 2vh;
        color: #c982d1;
    }
    .buttoncatalog{
        border: rgba(183, 119, 190, 0.6);
        border-style:solid;
        border-width: 0.2vh;
        margin-top:8vh;
        margin-left: 27vw;
        display: grid;
        grid-column-start: 1;
        height: 6vh;
        height: 6vh;
        width: 13vw;
        grid-template-columns:11vw 2vw;
        cursor: pointer;
    }
    #catalogbtn{
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-size: 1.3vh;
        padding-top: 2.3vh;
        padding-left: 2vh;
    }
   .buttoncatalog:hover{
    border-width: 0.3vh;
   }
   .buttoncatalog:active{
    border-width: 0.3vh;
    background-color: rgba(183, 119, 190, 0.1);
    border-color: rgba(183, 119, 190, 0.6);
   }
   .Lifetime{
    height: 85vh;
    width: 100vw;
    background-image: url(/Image/Vector3.png);
    background-size:100vw 85vh;
    background-position: -15vh 0 0 0 ;
    display: grid;
    grid-template-columns: 15vw 33vw 20vw 15vw;
    grid-template-rows: 6vh 10vh  18vh 20vh 20vh ;
   }
   #life{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0;
    font-family:"Garamond";
    font-weight: normal;
    padding-top: 2vh;
    font-size: 4.5vh;
    padding-right: 5vw;
    grid-row-start: 1;
   }
    #moreyear{
        display: grid;
        grid-column-start:4 ;
        grid-row-start: 1;
    }
    #degrees{
        font-family: "MontserratL";
        font-size: 1.8vh;
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-top: 1.5vh;
        grid-row-start: 2;
    }
    #stonearea{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 50vh;
        width: 30vw;
        grid-row-start: 3;
    }
    #stoneglass{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        height: 45vh;
        width: 30vw;
        padding: 25vh 0vw 0vh 8vw;
    }
    #linetext{
        height: 1vh;
        width: 6vw;
    }
    #eco{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-template-columns: 28vw;
        grid-template-rows: 1.5vh 4vh 10vh;
        font-family: "Montserrat";
        font-size: 2vh;
       
    }
    #newp{
        margin: 0;
        padding: 0;
        font-size: 1.7vh;
        color: #6A6A6A;
    }
    #wheather{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start:4 ;
        grid-template-columns: 28vw;
        grid-template-rows: 1.5vh 6vh 10vh;
        font-family: "Montserrat";
        font-size: 2vh;
    }
    #easy{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start:5 ;
        grid-template-columns: 28vw;
        grid-template-rows: 1.5vh 5vh 10vh;
        font-family: "Montserrat";
        font-size: 2vh;
    }
    .diler{
       background-color: #F3F3F6;
        height: 50vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 20vw 30vw 30vw 15vw;
        grid-template-rows: 15vh 10vh 18vh;
        padding-top: 4vh;
    }
    #hbuy{
        letter-spacing: 0.03em;
        display: grid;
        grid-column: 2/4;
        font-family:"Garamond";
        font-size: 5vh;
        font-weight:normal ;
        text-align: center;
    }
    #nonep{
        display: grid;
        grid-column: 2/4;
        grid-row: 2;
        font-family: "Montserrat";
        font-size: 2.3vh;
        padding-top: 1vh;
        text-align: center;
    }
    #addressdiler{
        display: grid;
        grid-column-start: 3;
        background-color: #6A6A6A;
        margin: 1.5vh 0.5vw 0 0;
        height: 15vh;
        width: 28vw;
        border-style: solid;
        border-width: 0.1vh;
        font-family: "MontserratL";
        background-color: rgba(247, 236, 248, 0.1);
        border-color: rgba(183, 119, 190, 0.6);
        grid-template-columns: 3vw 6vw 18vw;
        grid-template-rows: auto;
        font-size: 2.5vh;
    }
    #whantdiler{
        display: grid;
        grid-column-start: 2;
        grid-row-start: 3;
        background-color: #6A6A6A;
        margin: 1.5vh 0 0 0.5vw;
        height: 15vh;
        width: 28vw;
        border-style: solid;
        border-width: 0.1vh;
        font-family: "MontserratL";
        background-color: rgba(247, 236, 248, 0.1);
        border-color: rgba(183, 119, 190, 0.6);
        grid-template-columns: 4vw 9vw 12vw;
        grid-template-rows: auto;
        font-size: 2.5vh;
    }   
    #car{
        display: grid;
        grid-column-start: 2;
        padding-top: 4.2vh;
        height: 7.5vh;
    }
    #world{
        display: grid;
        grid-column-start: 2;
        padding-top: 3vh;
        height: 8.5vh;
    }
    #txt{
        padding-top: 2vh;
    }
    #whantdiler:hover{
        border-width: 0.3vh;
    }
    #addressdiler:hover{
        border-width: 0.3vh;
    }
    #addressdiler:active{
        border-width: 0.3vh;
        background-color: rgba(183, 119, 190, 0.1);
        border-color: rgba(183, 119, 190, 0.6);
    }
    #whantdiler:active{
        border-width: 0.3vh;
        background-color: rgba(183, 119, 190, 0.1);
        border-color: rgba(182, 100, 191, 0.6);
    }
    .video{
        display: grid;
        height: 90vh;
        width: 60vw;
        grid-template-rows: 15vh 10vh 65vh ;
        grid-template-columns: 6.5vw 47vw 6.5vw;
        margin: 5vh 20vw 0 20vw;
    }
    #unique{
        font-family: "Garamond";
        font-weight: normal;
        font-size: 5vh;
        text-align: center;
        display: grid;
        grid-column-start: 2;
        letter-spacing: 0.03em;
    }
    #everyyear{
      font-family: "MontserratL";
      font-size: 2.5vh; 
      display: grid;
      grid-column-start: 2; 
      text-align: center;
      padding: 0;
    }
    .content{
        display: grid;
        grid-column: 1/3;
        width: 60vw;
        height: 60vh;
    }
    #video{
        width: 60vw;
        height: 60vh;
    }
    #textonimg{
        color: #ffffff;
        display: grid;
    }
    .close {
        color: #ffffff;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 8vh;
        font-weight: bold;
        cursor: pointer;
        display: grid;
        grid-column-start: 2;
    }
    .play {
        cursor: pointer;
        height: 8vh;
        width: 6vw;
        grid-area: 3/2;
        align-self: center;
        justify-self: center;
      }
    #player {
        width: 60vw; 
        height: 60vh; 
    }
    .overlay {
        display: none;
        grid-template-rows: 10vh 50vh;
        grid-template-columns: 55vw 5vw;
    }
    #imgvideo{
        height: 60vh;
        width: 60vw;
    }
    .container {
        display: grid;
        grid-row-start: 3;
        grid-column: 1/3;
        height: 60vh;
        width: 60vw;
        grid-template-rows: 17.5vh 5vh 15vh 5vh 17.5vh;
        grid-template-columns: 15vw 30vw 15vw;
    }
    #timevideo{
        color: #ffffff;
        grid-area: 4/2;
        font-family: "MontserratL";
        font-size: 1.5vh;
        text-align: center;
    }
    #whatch{
        color: #ffffff;
        grid-area: 2/2;
        font-family: "MontserratL";
        font-size: 2vh;
        text-align: center;
    }
    .record{
        height: 40vh;
        width:66vw;

        margin: 15vh 0 0 17vw;
        display: grid;
        grid-template-columns: 30vw 3vw 33vw;
        grid-template-rows: 20vh 20vh;
    }
    #visit{
      font-family: "MontserratL";
      font-size: 2.5vh; 
      display: grid;
      grid-column-start: 1; 
      padding: 3vh 0 0 0; 
    }
    #progress{
        display: grid;
        grid-column-start: 3;
        width: 33vw;
        height:33vh;
    }
    #btn{
        background: linear-gradient(265.97deg, #c982d1 -9.18%, #88488F 103.05%);
        display: grid;
        grid-column-start: 1;
        height: 6vh;
        width: 11vw;
        grid-template-columns:9vw 2vw;
        cursor: pointer;
    }
    #btn:hover{
        background: linear-gradient(265.97deg,#88488F -9.18%, #c982d1 103.05%);
    }
    #btn:active{
        background: #88488F;
    }
    #recarr{
        grid-column-start: 2;
        padding-top: 2vh;
        height: 2vh;
       }
    #recording{
       color:white;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       font-family: "Montserrat";
       font-size: 1.3vh;
       padding-top: 1vh;
       padding-left: 3.5vh;
   }
   .map{
    margin: 15vh 0 0 15vw;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 30vw 50vw;
}
.address{
    display: grid;
    grid-column-start: 1;
    height: 60vh;
    width: 30vw;
    background-color: #000000;
    color: #ffffff;
    grid-template-columns: 5vw 5vw 15vw 5vw;
    grid-template-rows: 10vh 12vh 8vh 5vh 25vh;
}
#mapimg{
    grid-row: 5;
    height: 20vh;
    width: 30vw;
    padding: 5vh 0 0 2vw;
}
#waiting{
    padding: 2vh;
    font-family: "Garamond";
    font-weight: normal;
    font-size: 3vh;
    grid-column: 2/4;
    text-align: center;
}
#map{
width: 40vw;
height: 60vh;
grid-column-start: 2;
}
#text{
   margin: 0;
    display: grid;
    grid-column: 3;
    grid-template-rows:12vh 8vh 5vh;
    font-family: "MontserratL";
    font-size: 1.8vh;
}
#imgmap{
    display: grid;
    grid-column: 2;
    grid-row-start: 2;
    grid-template-rows:12vh 7.5vh 5vh;
}
}
@media (min-width:320px) and (max-width:1366px) {
   .mobile {
        display: grid;
        grid-column-start: 2;
        grid-row-start:2 ;
    }
    .menu-btn {
        display: grid;
        width: 10vw;
        height: 15vw;
        padding: 0;
        position: relative;

      }
      .menu-btn span {
        width: 10vw;
        height: 0.25vw;
        position: absolute;
        top: 9vw;
        left: 5vw;
        transform: translate(-50%, -50%);
        background-color: #c982d1;
        transition: all 0.5s;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
      -o-transform: translate(-50%, 0%) rotate(45deg);
    }  
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
    .menum {
        width: 100vw;
        height: 100vh;
        background: #ffffff;
        transform: translateX(-50%);
        transition: transform 0.5s;
        -webkit-transform: translateX(100vw);
    }
    .menum.active {
        transform: translateX(100);
        -webkit-transform: translateX(-80vw);
        -moz-transform: translateX(100);
        -ms-transform: translateX(100);
        -o-transform: translateX(100);
        display: grid;
        grid-template-rows: 70vh 10vh;
    }
    nav{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row:1;
    }
    .menum .ul{
        padding-left: 16vw;
    }
    .menum li {
        list-style-type: none;
        font-family: "Montserrat";
        line-height:4.5vh;
        font-size: 3vh;
    }
   
    #contactmob{
        font-weight:1000;
        letter-spacing: 0.05em;
        margin: 4vh ;
    }
    #social{
        grid-column-start: 2;
        grid-row-start: 2;
        display: grid;
        width:23vw;
        grid-template-columns:10vw 10vw 10vw;
        padding:7.5vw 0 0 1vw;

    }
    #telegram{display: grid;
        grid-column-start: 1;
        width: 5.5vw;
    }
    #viber{
        display: grid;
        grid-column-end: 3;
        width: 5.5vw;
    }
    #whatsapp{
        grid-column-start: 3;
        width: 5.5vw;
    }
    #logodiv{
        display: grid;
    }
    #logo{
        width: 50vw;
        padding-top: 2vh;
        padding-left: 5vw;
    }    
    i{
        display: grid;
        font-style: normal;
        font-size: 5vw;
        text-align: center;
        grid-column-start: 2;
    }
    #place{
        display: grid;
        height: 5vw;
        grid-column-start: 1;
    }
    .city{
        display: none;
        width: 34vw;
        grid-template-columns: 8vw 26vw;
        padding-top: 1vh;
        grid-row-start: 2;
        margin-left: 10vw;
    }
    .banner
    {   display: grid;
       height: 70vw;
       padding-top: 16vw;
       font-family: "Garamond";
       grid-template-columns: 55vw 55vw;
    } 
    #glassstone{
        margin: 0;
        padding: 0;
        grid-column-start: 2;   
        width: 90vw;  
        margin-left: -9vw;
        
    }
    #textstone{
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 2vw 0vh 0vh 7vw;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 9vw;
    }
    #description{
        display: none;
    }
   
    #diler{
        display: grid;
        grid-column-start: 1;
        margin: 0;
        padding-top: 2vw;
        letter-spacing: 0em;
        text-transform:lowercase ;
        font-size: 5vw;
    }
    #button{
        background: linear-gradient(265.97deg, #c982d1 -9.18%, #88488F 103.05%);
        margin-top:15vw;
        display: grid;
        grid-column-start: 1;
        width: 50vw;
        grid-template-columns:42vw 8vw;
        cursor: pointer;
    }
    #arrow{
     grid-column-start: 2;
     padding: 1.5vw;
     width:3vw ;
    }
    #catalog{
        color:white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-size: 3vw;
        padding: 1.5vw;
        padding-left: 2.2vw;
    }
    #button:hover{
        background: linear-gradient(265.97deg,#88488F -9.18%, #c982d1 103.05%);
    }
    #button:active{
        background: #88488F;
    }
    
    
.header{
    display: grid;
    height: 30vw;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vw  10vw 10vw;
    position: relative;
}
.region{
    display: none;
}
.menu{  
    display: none; 
}
#contacts{
    display: none;
}
.interior{
    display: grid;
    height: 85vh;
    padding-top: 10vh;
    grid-template-rows: 20vh  15vh 50vh;
}
#newimage{
    display: grid;

    padding-left: 7vw;
}
#newtrand{
    margin: 0;
    font-family:"Garamond";
    font-weight: normal;
    letter-spacing: 0.03em;
    padding-top: 2vh;
    font-size: 4.5vh;
    padding-right: 5vw;
    grid-row: 1;
    text-align: center;
}
#home{
    font-family: "MontserratL";
    font-size: 2vh;
    padding-right: 8vw;
    grid-row: 2;
    text-align: center;
}
#photo{
    display: grid;
    height: 50vh;
    width: 100vw;
}
#foto{
    display: grid;
grid-row: 3;}

#imginterior{
    height: 15vh;
    width: 12.5vw;
    display: none;
    }
.filter{
    height: 300vh;
    width: 100vw;
    background-image: url(../Image/filter.png);
    background-size: cover;
}
.kinds{
    height: 90vh;
    display: grid;
    margin: 10vh 0  0 7vw;
    grid-template-rows: 15vh 32vh 35vh;
    width: 100vw;
}
#kindsalways{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10vw 80vw;
    grid-template-rows: 20vh 10vh 10vh 10vh; 

}
#kindstext{
    display: grid;
    grid-column-start: span 2;
    font-family:"Garamond";
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 4.5vh;
    text-align: center;
}
#textkind{
    font-family: "MontserratL";
    letter-spacing: 0;
    font-size: 2vh;
}
#framekinds{
    height: 6vh;
    width: 6vw;
    padding-top: 0.5vh;
}
#glass{
    display: grid;
    grid-row-start: 3;
}
#glassimg{
    height: 32vh;
    width: 90vw;
}
.cards{ 
    margin-top: 70vh;
    display: grid;
    height: 80vh;
    width: 100vw;
    grid-template-columns: 42.5vw 0.5vw 43vw;
    grid-template-rows: 39.5vh 0.5vh 40vh;
}
#card1{
    box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
    background-color: white;
    border: 1px solid #F4F4F4;
    display: grid;
    grid-column-start: 1;
    grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
}
#card2{
    box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
    background-color: white;
    border: 1px solid #F4F4F4;
    display: grid;
    grid-column-start: 3;
    grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
}
#card3{
    box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
    background-color: white;
    border: 1px solid #F4F4F4;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 2.5vh;
}
#card4{
    box-shadow: 0 14px 28px rgba(224, 198, 215, 0.581);
    background-color: white;
    border: 1px solid #F4F4F4;
    display: grid;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-template-rows: 3vh 23vh 1vh 4vh 2.5vh 3vh;
}
#card1:hover{
    background:#F4F4F4 ;
}
#card2:hover{
    background:#F4F4F4 ;
}
#card3:hover{
    background:#F4F4F4 ;
}
#card4:hover{
    background:#F4F4F4 ;
}
#hit{
    padding: 0.5vh 0  0 0.5vw;
    height: 2.5vh;
    width: auto;
}
#row2{
    display: grid;
    grid-row-start: 2;
    padding-left: 3.6vw;
    height: 20vh;
    width: 35vw;
}
#row3{
    display: grid;
    grid-row-start: 3;
    padding-left: 5.7vw;
    height: 0.2vh;
    width: 30vw;
}
#row4{
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-start: 4;
    text-align: center;
    font-family:"Montserrat" ;
    font-size: 2vh;
}
#row5{
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-start: 5;
    text-align: center;
    font-family:"Montserrat" ;
    font-size: 1.5vh;
    text-decoration: line-through;
    color: rgb(194, 194, 194);
}
#row6{
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-start: 6;
    text-align: center;
    font-family:"Montserrat" ;
    font-size: 2vh;
    color: #c982d1;
}
.buttoncatalog{
    border: rgba(183, 119, 190, 0.6);
    border-style:solid;
    border-width: 0.2vh;
    margin-top:50vh;
    margin-left: 18vw;
    display: grid;
    grid-column-start: 1;
    height: 6vh;
    width: 50vw;
    grid-template-columns:43vw 5vw;
    cursor: pointer;
}
#catalogbtn{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 1.3vh;
    padding-top: 2.3vh;
    padding-left: 2vh;
}
.buttoncatalog:hover{
border-width: 0.3vh;
}
.buttoncatalog:active{
border-width: 0.3vh;
background-color: rgba(183, 119, 190, 0.1);
border-color: rgba(183, 119, 190, 0.6);
}
.Lifetime{
    height: 150vh;
    width: 100vw;
    display: grid;

    grid-template-rows: 20vh 10vh  15vh 17vh 18vh 30vh 20vh;
}
#life{
    display: grid;
    margin: 0;
    font-family:"Garamond";
    font-weight: normal;
    padding-top: 2vh;
    font-size: 4.5vh;
    padding-right: 5vw;
    grid-row-start: 1;
    text-align: center;
    width: 80vw;
    padding-left: 10vw;
}
#moreyear{
    display: none;
}
#degrees{
    font-family: "MontserratL";
    font-size: 1.8vh;
    display: grid;
    grid-row-start: 2;
    text-align: center;
    width: 80vw;
    padding-left: 10vw;
}
#stonearea{
    display: grid;
    height: 50vh;
    width: 80vw;
    grid-row-start: 6;
    padding-left: 10vw;
}
#stoneglass{
    display: grid;
    grid-row-start: 7;
    height: 35vh;
    width: 65vw;
    margin: 0 0 0 20vh;
}#linetext{
    height: 1vh;
    width: 20vw;
    padding-left: 30vw;
}#eco{
    display: grid;
    width: 80vw;
    grid-row-start: 3;
    grid-template-rows: 1.5vh 4vh 10vh;
    font-family: "Montserrat";
    font-size: 2vh;
    text-align: center;
    padding-left: 10vw;
   
}#newp{
    margin: 0;
    padding: 0;
    font-size: 1.7vh;
    color: #6A6A6A;
}
#wheather{
    display: grid;
    padding-left: 10vw;
    grid-row-start:4 ;
    width: 80vw;
    grid-template-rows: 1.5vh 6vh 10vh;
    font-family: "Montserrat";
    font-size: 2vh;
    text-align: center;
}
#easy{
    display: grid;
    width: 80vw;
    grid-row-start:5 ;
    grid-template-rows: 1.5vh 5vh 10vh;
    font-family: "Montserrat";
    font-size: 2vh;
    text-align: center;
    padding-left: 10vw;
}
.diler{
   background-color: #F3F3F6;
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 25vh 12vh 20vh 20vh;
    padding-top: 4vh;
}
#hbuy{
    letter-spacing: 0.03em;
    display: grid;
    grid-column: 2/4;
    font-family:"Garamond";
    font-size: 4vh;
    font-weight:normal ;
    text-align: center;
}
#nonep{
    display: grid;
    grid-column: 2/4;
    grid-row: 2;
    font-family: "Montserrat";
    font-size: 2.3vh;
    padding-top: 1vh;
    text-align: center;
}
#addressdiler{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #6A6A6A;
    margin: 1vh 0.5vw 0 0;
    height: 14vh;
    width: 80vw;
    border-style: solid;
    border-width: 0.1vh;
    font-family: "MontserratL";
    background-color: rgba(247, 236, 248, 0.1);
    border-color: rgba(183, 119, 190, 0.6);
    grid-template-columns: 8vw 25vw 47vw;
    grid-template-rows: auto;
    font-size: 2vh;
    grid-row: 4;
}
#whantdiler{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    background-color: #6A6A6A;
    margin: 1vh 0 0 0.5vw;
    height: 14vh;
    width: 80vw;
    border-style: solid;
    border-width: 0.1vh;
    font-family: "MontserratL";
    background-color: rgba(247, 236, 248, 0.1);
    border-color: rgba(183, 119, 190, 0.6);
    grid-template-columns: 8vw 28vw 44vw;
    grid-template-rows: auto;
    font-size: 2vh;
}   
#car{
    display: grid;
    grid-column-start: 2;
    padding-top: 4.2vh;
    height: 6vh;
}
#world{
    display: grid;
    grid-column-start: 2;
    padding-top: 3.5vh;
    height: 6.5vh;
    padding-left: 3.5vw;
}
#txt{
    padding-top: 2vh;
}
#whantdiler:hover{
    border-width: 0.3vh;
}
#addressdiler:hover{
    border-width: 0.3vh;
}
#addressdiler:active{
    border-width: 0.3vh;
    background-color: rgba(183, 119, 190, 0.1);
    border-color: rgba(183, 119, 190, 0.6);
}
#whantdiler:active{
    border-width: 0.3vh;
    background-color: rgba(183, 119, 190, 0.1);
    border-color: rgba(182, 100, 191, 0.6);
}
.video{
    display: grid;
    height: 90vh;
    width: 100vw;
    grid-template-rows: 20vh 15vh 65vh ;
    grid-template-columns: auto;
    margin: 5vh 0 0 0vw;
}
#unique{
    font-family: "Garamond";
    font-weight: normal;
    font-size: 4vh;
    text-align: center;
    display: grid;
    letter-spacing: 0.03em;
    grid-row: 1;
    padding: 0 5vw 0 5vw;
}
#everyyear{
  font-family: "MontserratL";
  font-size: 2vh; 
  display: grid;
  text-align: center;
  padding: 0;
  grid-row: 2;
  padding: 0 5vw 0 5vw;
}
.content{
    display: grid;
    grid-column: 1/3;
    width: 100vw;
    height: 60vh;
}
#video{
    width: 100vw;
    height: 60vh;
}
#textonimg{
    color: #ffffff;
    display: grid;
}
.close {
    color: #ffffff;
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 8vh;
    font-weight: bold;
    cursor: pointer;
    display: grid;
    grid-column-start: 3;
}
.play {
    cursor: pointer;
    height: 8vh;
    width: 25vw;
    grid-area: 3/2;
    align-self: center;
    justify-self: center;
  }
#player {
    width: 100vw; 
    height: 60vh; 
}
.overlay {
    display: none;
    grid-template-rows: 10vh 50vh;
    grid-template-columns: 82vw 3vw;
}
#imgvideo{
    height: 60vh;
    width: 100vw;
}
.container {
    display: grid;
    grid-row-start: 3;
   
    height: 60vh;
    width: 100vw;
    grid-template-rows: 14.5vh 10vh 15vh 5vh 17.5vh;
    grid-template-columns: 10vw 80vw 10vw;
    grid-row: 3;
}
#timevideo{
    color: #ffffff;
    grid-area: 4/2;
    font-family: "MontserratL";
    font-size: 1.5vh;
    text-align: center;
}
#whatch{
    color: #ffffff;
    grid-area: 2/2;
    font-family: "MontserratL";
    font-size: 2vh;
    text-align: center;
}
.record{
    height: 70vh;
    width: 80vw;
    margin: 15vh 10vw 0 10vw;
    display: grid;
    grid-template-rows: 33vh 12vh 25vh;
}
#visit{
  font-family: "MontserratL";
  font-size: 3vh; 
  display: grid;
text-align: center;
  padding: 3vh 0 0 0; 
}
#progress{
    display: grid;

    width: 80vw;
    height:25vh;
}
#btn{
    background: linear-gradient(265.97deg, #c982d1 -9.18%, #88488F 103.05%);
    display: grid;
    grid-row-start: 2;
    height: 6vh;
    width: 50vw;
    grid-template-columns:40vw 10vw;
    cursor: pointer;
    margin: 3vh 0 0 15vw;
}
#btn:hover{
    background: linear-gradient(265.97deg,#88488F -9.18%, #c982d1 103.05%);
}
#btn:active{
    background: #88488F;
}
#recarr{
    grid-column-start: 2;
    padding-top: 2vh;
    height: 2vh;
   }
#recording{
   color:white;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   font-family: "Montserrat";
   font-size: 1.3vh;
   padding-top: 1vh;
   padding-left: 3.5vh;
}
.map{
    margin-top: 5vh;
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-rows: 55vh 40vh;
}
.address{
    display: grid;
    grid-row-start: 1;
    height: 55vh;
    width: 100vw;
    background-color: #000000;
    color: #ffffff;
    grid-template-columns: 15vw 15vw 50vw 15vw;
    grid-template-rows: 10vh 12vh 8vh 5vh ;
}
#waiting{
    font-family: "Garamond";
    font-weight: normal;
    font-size: 3vh;
    grid-column: 2/4;
    text-align: center;
}
#map{
width: 100vw;
height: 50vh;
grid-row-start: 2;
}
#text{
   margin: 0;
    display: grid;
    grid-column: 3;
    grid-template-rows:12vh 8vh 5vh;
    font-family: "MontserratL";
    font-size: 1.8vh;
}
#imgmap{
    display: grid;
    grid-column: 2;
    grid-row-start: 2;
    grid-template-rows:12vh 7.5vh 5vh;

}
#mapimg{
    grid-row: 4;
    grid-column: 3/4;
    height: 20vh;
    width: 80vw;
    padding:5vh 0 0 10vw;
}
}
